<header th:fragment="header">
  <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/etudiants}">
      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/etudiants}">Etudiants</a>
          <a class="nav-link" th:href="@{/entreprises}">Entreprises</a>
          <a class="nav-link" th:href="@{/offres}">Offres</a>
          <a class="nav-link" th:href="@{/demandes}">Demandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/etudiants/new}">Ajouter etudiant</a>
          <a class="nav-link" th:href="@{/entreprises/new}">Ajouter entreprise</a>
          <a class="nav-link" th:href="@{/offres/new}">Ajouter offre</a>
           <a class="nav-link" th:href="@{/demandes/new}">Ajouter demande</a>
        </li>
      </ul>
    </div>
  </nav>-->
</header>